*{
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    
}

.sidebar{
    padding-top: 30px;
    transition: all 0.2s;
    position: relative;
    background-color: #1565c0;
    height: 120vh;
    width: 25vh;
}

.sidebar-closed{
    transition: 0.2s;
    padding-top: 30px;
    position: relative;
    background-color: #1565c0;
    height: 120vh;
    width: 0px;
    visibility: hidden;
}

.sidebar li, .sidebar-closed li {
    color: white;
    list-style: none;
    border-bottom: 1px solid white;  
    padding: 5px;
}

.sidebar li:hover{
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.09);
}

.sidebar-title-container{
    display: flex;
}

.sidebar-title{
    color: white;
    margin-left: 5px;
}

.sidebar-list-container{
    margin-top: 30px;
    margin-right: 5px;
    margin-left: 5px;

}

