

.snackbarNotShow{
    left: 10px;
    bottom: 10px;
    color: white;
    background-color: #1565c0;
    width: 20%;
    height: 50px;
    position: fixed;
    visibility: hidden;
    animation: fadein 0.5s , fadeout 0.5s 2.5s;

    
    
}

.snackbarShowSuccess::after{
    left: 10px;
    bottom: 10px;
    animation: fadein 0.5s , fadeout 0.5s 2.5s;
    text-align: center;
    color: white;
    background-color: #1565c0;
    width: 200px;
    height: 50px;
    position: fixed;
    visibility: visible;
    content: "Todo successfully added";
    padding-top: 25px;
    border-radius: 5px;
    

}



.snackbarShowError::before{
    animation: fadein 0.5s , fadeout 0.5s 2.5s;
    left: 10px;
    bottom: 10px;
    text-align: center;
    color: white;
    background-color: #1565c0;
    width: 20%;
    height: 50px;
    position: fixed;
    visibility: visible;
    content: "Server error";
    padding-top: 25px;
    border-radius: 5px;

}



.snackbarShowEmpty::after{
    animation: fadein 0.5s , fadeout 0.5s 2.5s;
    left: 10px;
    bottom: 10px;
    text-align: center;
    color: white;
    background-color: #1565c0;
    width: 20%;
    height: 50px;
    position: fixed;
    visibility: visible;
    content: "Input is empty";
    padding-top: 25px;
    border-radius: 5px;

}


.snackbarSuccessfulDelete::after{
    animation: fadein 0.5s , fadeout 0.5s 2.5s;
    left: 10px;
    bottom: 10px;
    text-align: center;
    color: white;
    background-color: #1565c0;
    width: 20%;
    height: 50px;
    position: fixed;
    visibility: visible;
    content: "deleted";
    padding-top: 25px;
    border-radius: 5px;

}


.snackbarFailedDelete::after{
    animation: fadein 0.5s , fadeout 0.5s 2.5s;
    left: 10px;
    bottom: 10px;
    text-align: center;
    color: white;
    background-color: #1565c0;
    width: 20%;
    height: 50px;
    position: fixed;
    visibility: visible;
    content: "delete failed";
    padding-top: 25px;
    border-radius: 5px;

}


@keyframes fadein {
    from{
        bottom: 0px;
        opacity: 0;
    }
    to{
        bottom: 10px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from{
        bottom: 10px;
        opacity: 1;
    }
    to{
        bottom: 0px;
        opacity: 0;
    }
}
