

.input-wrapper {
    padding-top: 150px;
    display: flex;
    margin: auto;
    justify-content: center;
    
    
}

.input-text {
    position: relative;
    background-color: white;
    width: 500px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: larger;
    outline: none;
    padding: 5px;
 
}

.input-text:focus{
    transition:  1s;
    box-shadow: inset 540px 0   turquoise;
    border: 2px solid turquoise;
}



.input-button{
    margin-left: 5px ;
    border-radius: 10px;
    border: 2px solid black;
    font-size: larger;
    font-weight: bold;
    background-color: white;
    color: black;
    width: 90px;
    padding: 3px;
    transition: 0.5s all ease;
}

.input-button:hover{
    border: 2px solid turquoise;
    box-shadow: inset 90px 0 turquoise;
}

.list-wrapper{
    position: relative;
    display: flex;  
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.list-items{
    position: relative;
    display: flex;
    padding: 5px;
    margin-block: 10px;
    min-width: 500px;
    list-style: none;
    border: 2px solid black;
    font-size: large;
    font-weight: 600;
    border-radius: 10px;  
    max-width: 500px;  
    
    
}





