.header {
    color: turquoise;
    margin-top: 0px;
    height: 60px;
    background-color: black ;
    text-align: center;
    padding-top: 20px;

}

.navbar {
    align-items: center;
    box-shadow: 0px 3px 20px 5px turquoise;

}

.signup-link {
    font-size: 20px;
    color: turquoise;
    margin-right: 0px;
    margin-left: 90%;
    margin-top: -80px;
}