.sign-up-container{
    color: white;
    width: 300px;
    box-shadow: 0px 3px 0px 0px turquoise  ;
    background: black;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;

}

.input-text-signup{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #999;
    outline: none;
}

.signup-button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
